

*{
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    height: 120vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
  
}
nav{
    margin: 20px;
}
nav a{
    text-decoration:  none;
    margin: 20px;
   
    
}
.navtext{
    font-size: 1.5rem;
    margin: 10px;
}

.banner-1st{
    margin: 50px auto;
    
    width: 60%;
    text-align: center;
    
}

.frist-banner-h1{
    font-size: 3em;
    
}
.frist-banner-small{
    width: 80%;
    margin: auto;
}
.btn{
    margin-top: 15px;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    color: white;
    background: #FF900E;
}
.banner-img{
    display: flex;
    justify-content: center;
}

.banner-img img{
   
    width: 70%;

}
 
/* header is complete  */

/* main part section main banner -1 start */

.main-banner-1{
    display: flex;
    width: 70%;
    margin: 80px auto;
    gap: 40px;
    align-items: center;

}

.main-banner-team-img img{
    width: 100%;

}
.main-banner-team-img {
   

}
.main-banner-team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    
}
.main-banner-team-right-text{
    text-align: left;
   

}
.main-banner-team-right-text-h1{
   margin-bottom: 3%;
   font-size: 2rem;
}
#one{
    color: gray;
}
#two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
#three{
    color: #FF900E;

}
/* main part section main banner -1 done  */


/* main part section main banner -2 start  */
.main-banner-2{
    margin: auto;
    width: 90%;
    display: flex;
    
    
    gap: 130px;
    height: 85vh;
    background: #FFF;
    
}
.main-banner-2-artical {
   
    margin-bottom: 5%;
    
}
.main-banner-2-artical article {
    margin-bottom: 20px;
}
.main-banner-2-artical-1-h1{
    margin-bottom: 3%;
    padding-left: 8px;
    font-size: 2rem;
    border-left:5px solid #FF900E;
}
.main-banner-2-artical p{
    margin-top: 2%;
}
.main-banner-2 img{
    height: 100%;
    
   
}
.main-banner-2-img-down-div{
    width: max-content;
    padding: 3% 4%;
    background-color: #FF900E ;
    border-radius: 10px;
    margin: -7%;
    position: absolute;
    color: white;
}
.main-banner-2-img-down-p-1{
    font-size: 3rem;
}
.main-banner-2-img-down-p-2{
    margin-left: 30%;
}











/* risponsive media quare  */

 @media screen and (max-width:576px) {
    .navbar{
       
        align-items: center;
        flex-direction: column;
    }
    nav{
        text-align: center;
    }
 
    nav a{
        margin: 5px;
  
    }
    .navtext{
        text-align: center;
        font-size: 80%;
    font-weight: 700;
    
    }
    .frist-banner-h1{
        font-size: 2em;
        
    }
    .main-banner-1{
        flex-direction: column;
    
    }
    .main-banner-team-right-text{
        text-align: center;
       
    
    }
    .main-banner-2{
        flex-direction: column;

    }
    .main-banner-2-img-down-div{
        
        margin: -8% 0 0 20%;
       
    }
    .main-banner-2{
        gap: 20px;
    }
    
    
   
}










 @media screen and (min-width:577px) and (max-width:992px) {

    nav a{
        margin: 7px;
  
    }
    .main-banner-2{
        flex-direction: column;

    }
    .main-banner-2{
        gap: 30px;
    }
    .main-banner-2-img-down-div{
        padding: 2% 3%;
        margin: -8% 0 0 2%;
    }
    .main-banner-2 img{
       
        width: 50%;
        
       
    }
    

}  
